[
(
name: "Chainmail Gloves S",
skills: [(Botanist, 1), (DefenseBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Hunter's Vambraces S",
skills: [(QuickSheath, 1)],
slots: [2],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Izuchi Braces S",
skills: [(Constitution, 2)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: 2,
water: -1,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Arzuros Vambraces S",
skills: [(Counterstrike, 1), (DefenseBoost, 2)],
slots: [1],
rare: 4,
defense: 36,
fire: -2,
water: 0,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bnahabra Gloves S",
skills: [(PoisonAttack, 2), (EvadeWindow, 1)],
slots: [1],
rare: 4,
defense: 34,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Braces S",
skills: [(PeakPerformance, 1), (FireAttack, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Baggi Vambraces S",
skills: [(SleepResistance, 2), (IceAttack, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: -4,
water: -1,
thunder: -1,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Lagombi Vambraces S",
skills: [(CriticalEye, 2), (IceAttack, 1)],
slots: [2, 1],
rare: 4,
defense: 36,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Vambraces S",
skills: [(WaterAttack, 1), (CriticalEye, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Vambraces S",
skills: [(MuckResistance, 1), (StaminaThief, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Jaggi Gauntlets S",
skills: [(AttackBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 42,
fire: 0,
water: 0,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Braces S",
skills: [(Slugger, 1), (StaminaThief, 2)],
slots: [2],
rare: 4,
defense: 38,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Vambraces S",
skills: [],
slots: [3],
rare: 4,
defense: 38,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Braces S",
skills: [(MarathonRunner, 1)],
slots: [2, 1, 1],
rare: 4,
defense: 48,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Vambraces S",
skills: [(AttackBoost, 2), (AffinitySliding, 1)],
slots: [1, 1],
rare: 4,
defense: 50,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Vambraces S",
skills: [(WallRunner, 1), (RecoverySpeed, 1), (ThunderAttack, 2)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Braces S",
skills: [(Heroics, 1), (SpecialAmmoBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 40,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Vambraces S",
skills: [(ThunderAttack, 3)],
slots: [1],
rare: 4,
defense: 40,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Gloves S",
skills: [(CriticalElement, 1), (Windproof, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 3,
gender: Neutral,
),
(
name: "Bishaten Vambraces S",
skills: [(ItemProlonger, 1), (StunResistance, 1)],
slots: [3],
rare: 4,
defense: 52,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Vambraces S",
skills: [(Guard, 2), (SpeedSharpening, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Vambraces S",
skills: [(EvadeExtender, 1), (ParalysisAttack, 1)],
slots: [1, 1, 1],
rare: 4,
defense: 50,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Grip S",
skills: [(MaximumMight, 2)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Braces S",
skills: [(Artillery, 2)],
slots: [2, 1],
rare: 4,
defense: 42,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shell-Studded Gloves S",
skills: [(SpreadUp, 1), (NormalRapidUp, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Braces S",
skills: [(Bombardier, 2), (DivineBlessing, 1)],
slots: [2],
rare: 5,
defense: 58,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Barioth Vambraces S",
skills: [(QuickSheath, 1), (MaximumMight, 1), (CriticalEye, 1)],
slots: [2],
rare: 5,
defense: 58,
fire: -3,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Braces S",
skills: [(Constitution, 3)],
slots: [3],
rare: 5,
defense: 58,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Prayer S",
skills: [(WideRange, 1)],
slots: [3],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Braces S (Visible)",
skills: [(WideRange, 1)],
slots: [3],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Channeler's Hope S",
skills: [(EvadeWindow, 1), (WirebugWhisperer, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Braces S (Hidden)",
skills: [(EvadeWindow, 1), (WirebugWhisperer, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Gauntlets S",
skills: [(HellfireCloak, 1), (Handicraft, 2)],
slots: [2],
rare: 6,
defense: 64,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Vambraces S",
skills: [(RapidMorph, 1), (EvadeWindow, 2)],
slots: [1, 1],
rare: 6,
defense: 64,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Braces S",
skills: [(LatentPower, 1), (Constitution, 1)],
slots: [2],
rare: 6,
defense: 62,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Braces S",
skills: [(Resuscitate, 1), (FreeMeal, 1)],
slots: [2],
rare: 6,
defense: 60,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Braces S",
skills: [(EvadeWindow, 1), (EvadeExtender, 1)],
slots: [1, 1],
rare: 6,
defense: 60,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Vambraces S",
skills: [(Slugger, 2), (AttackBoost, 2)],
slots: [1],
rare: 6,
defense: 60,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Braces S",
skills: [(SpareShot, 1), (AimBooster, 1)],
slots: [2],
rare: 5,
defense: 50,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Braces S",
skills: [(CriticalDraw, 1), (PunishingDraw, 1)],
slots: [2],
rare: 6,
defense: 64,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Kamura Braces S",
skills: [(CriticalEye, 2), (Heroics, 1)],
slots: [2],
rare: 4,
defense: 30,
fire: 2,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Leather Gloves S",
skills: [(Geologist, 1), (SpecialAmmoBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 30,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Braces S",
skills: [(AttackBoost, 1)],
slots: [2],
rare: 6,
defense: 62,
fire: 3,
water: 1,
thunder: -2,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Rhopessa Brachia S",
skills: [(EvadeWindow, 1)],
slots: [3],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Female,
),
(
name: "Aelucanth Brachia S",
skills: [(EvadeWindow, 1)],
slots: [3],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Male,
),
(
name: "Jyuratodus Vambraces",
skills: [],
slots: [3, 2, 1],
rare: 5,
defense: 48,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Dober Vambraces",
skills: [(DragonAttack, 1), (PowerProlonger, 1)],
slots: [2, 1, 1],
rare: 5,
defense: 52,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 4,
gender: Neutral,
),
(
name: "Makluva Sleeves S",
skills: [(BubblyDance, 1), (LeapofFaith, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Branch S",
skills: [(ParalysisResistance, 1), (Botanist, 1), (RecoveryUp, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Edel Creeper",
skills: [(CaptureMaster, 1)],
slots: [],
rare: 4,
defense: 40,
fire: -1,
water: 3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Ibushi's Pauldrons",
skills: [(WindAlignment, 1), (Constitution, 1), (StaminaSurge, 1)],
slots: [],
rare: 7,
defense: 66,
fire: -1,
water: 0,
thunder: 0,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Rakna Armguards",
skills: [(Constitution, 2), (StaminaSurge, 1)],
slots: [2],
rare: 6,
defense: 66,
fire: 4,
water: -2,
thunder: -1,
ice: -3,
dragon: 1,
gender: Neutral,
),
(
name: "Golden Kote",
skills: [(Heroics, 1), (LatentPower, 1)],
slots: [3, 1],
rare: 7,
defense: 70,
fire: 2,
water: 1,
thunder: 3,
ice: -5,
dragon: 2,
gender: Neutral,
),
(
name: "Narwa's Pauldrons",
skills: [(ThunderAlignment, 1), (Guard, 1), (Partbreaker, 1)],
slots: [],
rare: 7,
defense: 76,
fire: 2,
water: 1,
thunder: 4,
ice: -3,
dragon: -4,
gender: Neutral,
),
(
name: "Diablos Vambraces S",
skills: [(OffensiveGuard, 1)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Braces S",
skills: [(Bludgeoner, 2), (MindsEye, 1)],
slots: [3],
rare: 6,
defense: 64,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Jelly Gloves S",
skills: [(DivineBlessing, 2)],
slots: [1, 1],
rare: 6,
defense: 62,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Mosgharl Creeper S",
skills: [(BlastResistance, 1), (FlinchFree, 1)],
slots: [2, 1, 1],
rare: 5,
defense: 52,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Vaik Braces S",
skills: [(NormalRapidUp, 2)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 3,
thunder: -2,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Brachia S",
skills: [(LatentPower, 1), (PoisonResistance, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Brachia S",
skills: [(LatentPower, 1), (PoisonResistance, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
name: "Bnahabra Gloves",
skills: [(EvadeWindow, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Braces",
skills: [(FireAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Vambraces",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 10,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Vambraces",
skills: [(StaminaThief, 1)],
slots: [],
rare: 2,
defense: 10,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Jaggi Gauntlets",
skills: [(AttackBoost, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 0,
water: 0,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Braces",
skills: [(Slugger, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Vambraces",
skills: [(AmmoUp, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Braces",
skills: [(MarathonRunner, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Vambraces",
skills: [(AffinitySliding, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Vambraces",
skills: [(WallRunner, 1), (RecoverySpeed, 1), (ThunderAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Braces",
skills: [(SpecialAmmoBoost, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Vambraces",
skills: [(ThunderAttack, 2)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Gloves",
skills: [(CriticalElement, 1), (Windproof, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 2,
gender: Neutral,
),
(
name: "Bishaten Vambraces",
skills: [(StunResistance, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Vambraces",
skills: [(Guard, 1), (SpeedSharpening, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Vambraces",
skills: [(EvadeExtender, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Grip",
skills: [(MaximumMight, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Braces",
skills: [(Artillery, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shell-Studded Gloves",
skills: [(RecoilDown, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Braces",
skills: [(Bombardier, 1), (DivineBlessing, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Braces",
skills: [(BlightResistance, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Vambraces",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 20,
fire: -5,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Braces",
skills: [(Constitution, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Prayer",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Channeler's Hope",
skills: [(EvadeWindow, 1), (WirebugWhisperer, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Braces (V)",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Gauntlets",
skills: [(HellfireCloak, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Vambraces",
skills: [(RapidMorph, 1), (EvadeWindow, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Braces",
skills: [(Constitution, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Braces",
skills: [(WaterAttack, 1), (FreeMeal, 1)],
slots: [],
rare: 3,
defense: 26,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Braces",
skills: [(EvadeWindow, 1), (EvadeExtender, 1)],
slots: [],
rare: 3,
defense: 26,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Vambraces",
skills: [],
slots: [],
rare: 3,
defense: 26,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Braces",
skills: [(SpareShot, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Braces",
skills: [(CriticalDraw, 1), (PunishingDraw, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Braces",
skills: [(AttackBoost, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 4,
water: 0,
thunder: -2,
ice: 0,
dragon: -4,
gender: Neutral,
),
(
name: "Rhopessa Brachia",
skills: [(EvadeWindow, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Aelucanth Brachia",
skills: [(EvadeWindow, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Makluva Sleeves",
skills: [(LeapofFaith, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Branch",
skills: [(ParalysisResistance, 1), (RecoveryUp, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Diablos Vambraces",
skills: [(OffensiveGuard, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Braces",
skills: [(Bludgeoner, 2)],
slots: [],
rare: 3,
defense: 30,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Mosgharl Creeper",
skills: [(BlastResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Utsushi Braces (V)",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Jelly Gloves",
skills: [(DivineBlessing, 1)],
slots: [],
rare: 4,
defense: 24,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Brachia",
skills: [(PoisonResistance, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Brachia",
skills: [(PoisonResistance, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
]
