[
(
name: "Chainmail Vest S",
skills: [(DefenseBoost, 1), (FlinchFree, 2)],
slots: [1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Hunter's Mail S",
skills: [(AttackBoost, 1), (Handicraft, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Izuchi Mail S",
skills: [(CriticalEye, 2), (RecoverySpeed, 1)],
slots: [1],
rare: 4,
defense: 36,
fire: 2,
water: -1,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Arzuros Mail S",
skills: [(Counterstrike, 1)],
slots: [2],
rare: 4,
defense: 36,
fire: -2,
water: 0,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bnahabra Suit S",
skills: [(ParalysisAttack, 1), (EvadeWindow, 1)],
slots: [1, 1],
rare: 4,
defense: 34,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Mail S",
skills: [(QuickSheath, 1), (PeakPerformance, 1)],
slots: [1],
rare: 4,
defense: 38,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Baggi Mail S",
skills: [(AttackBoost, 1), (IceAttack, 1)],
slots: [1],
rare: 4,
defense: 36,
fire: -4,
water: -1,
thunder: -1,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Lagombi Mail S",
skills: [(AffinitySliding, 1), (Constitution, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Mail S",
skills: [(SpeedSharpening, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Mail S",
skills: [(StaminaThief, 1), (MarathonRunner, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Chaos Archplate",
skills: [(Mushroomancer, 2)],
slots: [],
rare: 4,
defense: 40,
fire: 2,
water: -2,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Droth Mail S",
skills: [(WaterAttack, 2)],
slots: [2, 1],
rare: 4,
defense: 42,
fire: -2,
water: 4,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Mail S",
skills: [(Slugger, 2), (HornMaestro, 1)],
slots: [2],
rare: 4,
defense: 38,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Mail S",
skills: [],
slots: [1],
rare: 4,
defense: 38,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Mail S",
skills: [(StaminaSurge, 2)],
slots: [2],
rare: 4,
defense: 48,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Mail S",
skills: [(AttackBoost, 1), (DefenseBoost, 2)],
slots: [2],
rare: 4,
defense: 50,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Mail S",
skills: [(WallRunner, 1), (RecoveryUp, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Mail S",
skills: [(NormalRapidUp, 1), (EvadeExtender, 1)],
slots: [1],
rare: 4,
defense: 40,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Mail S",
skills: [(Windproof, 2)],
slots: [2, 1],
rare: 4,
defense: 40,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Uroktor Torso S",
skills: [(FireAttack, 3)],
slots: [2],
rare: 5,
defense: 52,
fire: 4,
water: -2,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Suit S",
skills: [(CriticalBoost, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 3,
gender: Neutral,
),
(
name: "Bishaten Mail S",
skills: [(WideRange, 1)],
slots: [3],
rare: 4,
defense: 52,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Mail S",
skills: [(Guard, 1), (LoadShells, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Mail S",
skills: [(RapidMorph, 1), (JumpMaster, 1)],
slots: [2],
rare: 4,
defense: 50,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "D. Stench Muscle S",
skills: [(Fortify, 1), (RapidMorph, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Mail S",
skills: [(Artillery, 1), (StunResistance, 2)],
slots: [2, 1],
rare: 4,
defense: 42,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shell-Studded Vest S",
skills: [(NormalRapidUp, 1), (PierceUp, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Mail S",
skills: [(SleepAttack, 1), (ItemProlonger, 1)],
slots: [1, 1],
rare: 5,
defense: 58,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Mail S",
skills: [(RecoveryUp, 1), (Botanist, 1)],
slots: [3, 1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Mail S",
skills: [(QuickSheath, 1), (MaximumMight, 1)],
slots: [2, 1, 1],
rare: 5,
defense: 58,
fire: -3,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Mail S",
skills: [(MindsEye, 1), (CriticalEye, 1)],
slots: [3],
rare: 5,
defense: 58,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Robe S",
skills: [(WideRange, 1), (GoodLuck, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Chest S (Visible)",
skills: [(WideRange, 1), (GoodLuck, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Channeler's Robe S",
skills: [(RazorSharp, 1), (SpareShot, 1), (EvadeWindow, 1), (Agitator, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Chest S (Hidden)",
skills: [(RazorSharp, 1), (SpareShot, 1), (EvadeWindow, 1), (Agitator, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Garb S",
skills: [(HellfireCloak, 1), (Resentment, 1)],
slots: [2],
rare: 6,
defense: 64,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Mail S",
skills: [(RazorSharp, 2), (PowerProlonger, 1)],
slots: [1],
rare: 6,
defense: 64,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Mail S",
skills: [(LatentPower, 1), (WeaknessExploit, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Mail S",
skills: [(BubblyDance, 1), (Resuscitate, 1)],
slots: [1],
rare: 6,
defense: 60,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Mail S",
skills: [(EvadeWindow, 1), (CriticalEye, 1)],
slots: [1, 1],
rare: 6,
defense: 60,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Mail S",
skills: [(AttackBoost, 2)],
slots: [1, 1],
rare: 6,
defense: 60,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Mail S",
skills: [(SpecialAmmoBoost, 1), (Constitution, 2)],
slots: [1],
rare: 5,
defense: 50,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Mail S",
skills: [(CriticalDraw, 1), (Resentment, 1)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Kamura Garb S",
skills: [(WirebugWhisperer, 2), (WallRunner, 1), (CriticalEye, 1)],
slots: [1],
rare: 4,
defense: 30,
fire: 2,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Leather Vest S",
skills: [(Botanist, 1)],
slots: [2],
rare: 4,
defense: 30,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Mail S",
skills: [(AttackBoost, 1), (Partbreaker, 1), (Windproof, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: 3,
water: 1,
thunder: -2,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Rhopessa Thorax S",
skills: [(CriticalElement, 1), (CriticalEye, 2), (DragonAttack, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Aelucanth Thorax S",
skills: [(CriticalElement, 1), (CriticalEye, 2), (DragonAttack, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Jyuratodus Mail",
skills: [(PowerProlonger, 2), (EvadeExtender, 1)],
slots: [1, 1, 1],
rare: 5,
defense: 48,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Dober Mail",
skills: [(DragonAttack, 1), (Focus, 1), (PowerProlonger, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 4,
gender: Neutral,
),
(
name: "Makluva Cover S",
skills: [(WaterAttack, 3)],
slots: [1],
rare: 5,
defense: 52,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Jacket S",
skills: [(Botanist, 2), (RecoveryUp, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Edel Ribplate S",
skills: [(RecoveryUp, 2)],
slots: [1, 1],
rare: 4,
defense: 40,
fire: -1,
water: 3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Ibushi's Breastplate",
skills: [(WindAlignment, 1), (Guard, 1), (FlinchFree, 1)],
slots: [],
rare: 7,
defense: 66,
fire: -1,
water: 0,
thunder: 0,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Rakna Mail",
skills: [(SpreadUp, 1), (ReloadSpeed, 1)],
slots: [2, 1],
rare: 6,
defense: 66,
fire: 4,
water: -2,
thunder: -1,
ice: -3,
dragon: 1,
gender: Neutral,
),
(
name: "Golden Haori",
skills: [(Heroics, 1), (MaximumMight, 1), (LatentPower, 1)],
slots: [2],
rare: 7,
defense: 70,
fire: 2,
water: 1,
thunder: 3,
ice: -5,
dragon: 2,
gender: Neutral,
),
(
name: "Narwa Breastplate",
skills: [(ThunderAlignment, 1), (Constitution, 1), (CriticalDraw, 1)],
slots: [],
rare: 7,
defense: 76,
fire: 2,
water: 1,
thunder: 4,
ice: -3,
dragon: -4,
gender: Neutral,
),
(
name: "Diablos Mail S",
skills: [(Guard, 2), (OffensiveGuard, 1)],
slots: [1],
rare: 6,
defense: 64,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Mail S",
skills: [(Earplugs, 2), (Bludgeoner, 1)],
slots: [1, 1],
rare: 6,
defense: 64,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Jelly Vest S",
skills: [(BlastAttack, 2)],
slots: [2, 1],
rare: 6,
defense: 62,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Brigade Suit S",
skills: [(CaptureMaster, 1), (Geologist, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: 1,
water: 0,
thunder: 2,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Mosgharl Ribplate S",
skills: [(ReloadSpeed, 2)],
slots: [2],
rare: 5,
defense: 52,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Vaik Mail S",
skills: [],
slots: [3, 2, 1],
rare: 5,
defense: 52,
fire: 0,
water: 3,
thunder: -2,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Thorax S",
skills: [(PoisonAttack, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Thorax S",
skills: [(PoisonAttack, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
name: "Bnahabra Suit",
skills: [(ParalysisAttack, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Mail",
skills: [(QuickSheath, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Mail",
skills: [(SpeedSharpening, 1)],
slots: [],
rare: 2,
defense: 10,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Mail",
skills: [(StaminaThief, 1)],
slots: [],
rare: 2,
defense: 10,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Chaos Plate",
skills: [],
slots: [],
rare: 2,
defense: 12,
fire: 2,
water: -2,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Slagtoth Cloak",
skills: [(FreeMeal, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 2,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Droth Mail",
skills: [(WaterResistance, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Mail",
skills: [(HornMaestro, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Mail",
skills: [(PoisonAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Mail",
skills: [(StaminaSurge, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Mail",
skills: [(AttackBoost, 1), (DefenseBoost, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Mail",
skills: [(WallRunner, 1)],
slots: [],
rare: 2,
defense: 16,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Mail",
skills: [(NormalRapidUp, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Mail",
skills: [(Windproof, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Uroktor Torso",
skills: [(FireResistance, 2)],
slots: [],
rare: 2,
defense: 18,
fire: 4,
water: -2,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Suit",
skills: [(ItemProlonger, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 2,
gender: Neutral,
),
(
name: "Bishaten Mail",
skills: [(WideRange, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Mail",
skills: [(Guard, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Mail",
skills: [(RapidMorph, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Muscle",
skills: [(RapidMorph, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Mail",
skills: [(Artillery, 1), (StunResistance, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shell-Studded Vest",
skills: [(ReloadSpeed, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Mail",
skills: [(ItemProlonger, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Mail",
skills: [(RecoveryUp, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Mail",
skills: [(QuickSheath, 1)],
slots: [],
rare: 2,
defense: 20,
fire: -5,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Mail",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Robe",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Channeler's Robe",
skills: [(RazorSharp, 1), (SpareShot, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Chest (V)",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Garb",
skills: [(HellfireCloak, 1), (Resentment, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Mail",
skills: [(RazorSharp, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Mail",
skills: [(LatentPower, 1), (CriticalEye, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Mail",
skills: [(BubblyDance, 1), (WaterAttack, 1)],
slots: [],
rare: 3,
defense: 26,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Mail",
skills: [(CriticalEye, 1)],
slots: [],
rare: 3,
defense: 26,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Mail",
skills: [],
slots: [],
rare: 3,
defense: 26,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Mail",
skills: [(Constitution, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Mail",
skills: [(CriticalDraw, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Mail",
skills: [(Partbreaker, 1), (Windproof, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 4,
water: 0,
thunder: -2,
ice: 0,
dragon: -4,
gender: Neutral,
),
(
name: "Rhopessa Thorax",
skills: [(CriticalElement, 1), (DragonAttack, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Female,
),
(
name: "Aelucanth Thorax",
skills: [(CriticalElement, 1), (DragonAttack, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Male,
),
(
name: "Makluva Cover",
skills: [(WaterAttack, 2)],
slots: [],
rare: 3,
defense: 24,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Jacket",
skills: [(Botanist, 1), (RecoveryUp, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Diablos Mail",
skills: [(Guard, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Mail",
skills: [(Earplugs, 1), (Bludgeoner, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Mosgharl Ribplate",
skills: [(ReloadSpeed, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Utsushi Chest (V)",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Jelly Vest",
skills: [(BlastAttack, 1)],
slots: [],
rare: 4,
defense: 24,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Thorax",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Thorax",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
]