[
(
name: "Chainmail Headgear S",
skills: [(Botanist, 1), (DefenseBoost, 1)],
slots: [2],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Hunter's Helm S",
skills: [(ItemProlonger, 1)],
slots: [2],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Izuchi Helm S",
skills: [(CriticalEye, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: 2,
water: -1,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Arzuros Helm S",
skills: [(Fortify, 1), (DefenseBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: -2,
water: 0,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bnahabra Hat S",
skills: [(PoisonAttack, 1), (RecoilDown, 2)],
slots: [2],
rare: 4,
defense: 34,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Helm S",
skills: [(QuickSheath, 1), (FireAttack, 1)],
slots: [2],
rare: 4,
defense: 38,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Baggi Helm S",
skills: [(IceAttack, 2)],
slots: [2, 1],
rare: 4,
defense: 36,
fire: -4,
water: -1,
thunder: -1,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Lagombi Helm S",
skills: [(CriticalEye, 1), (IceAttack, 2)],
slots: [3],
rare: 4,
defense: 36,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Helm S",
skills: [(WaterAttack, 1), (ProtectivePolish, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Helm S",
skills: [(StaminaThief, 1), (Partbreaker, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Chaos Archbun",
skills: [(Mushroomancer, 1)],
slots: [1, 1],
rare: 4,
defense: 40,
fire: 2,
water: -2,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Helm S",
skills: [(MaximumMight, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Helm S",
skills: [],
slots: [1],
rare: 4,
defense: 38,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Helm S",
skills: [(MarathonRunner, 1), (PeakPerformance, 1)],
slots: [1, 1],
rare: 4,
defense: 48,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Helm S",
skills: [(AttackBoost, 1), (DefenseBoost, 1), (OffensiveGuard, 1)],
slots: [2, 1],
rare: 4,
defense: 50,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Helm S",
skills: [(Focus, 1), (RecoveryUp, 1)],
slots: [1],
rare: 4,
defense: 38,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Helm S",
skills: [(NormalRapidUp, 1), (SpeedEating, 1)],
slots: [1],
rare: 4,
defense: 40,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Helm S",
skills: [(Windproof, 1)],
slots: [3, 1],
rare: 4,
defense: 40,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bullfango Mask S",
skills: [(Bludgeoner, 2)],
slots: [1],
rare: 4,
defense: 36,
fire: 0,
water: 4,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Headgear S",
skills: [(Windproof, 2)],
slots: [2],
rare: 5,
defense: 52,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 3,
gender: Neutral,
),
(
name: "Jaggi Mask S",
skills: [(AffinitySliding, 1)],
slots: [2],
rare: 4,
defense: 36,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bishaten Helm S",
skills: [(ItemProlonger, 1), (WideRange, 1), (StunResistance, 1)],
slots: [1],
rare: 4,
defense: 52,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Helm S",
skills: [(LoadShells, 1), (DefenseBoost, 2)],
slots: [2, 1],
rare: 5,
defense: 52,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Helm S",
skills: [(ParalysisAttack, 2), (Bludgeoner, 1)],
slots: [1, 1],
rare: 4,
defense: 50,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Brain S",
skills: [(ProtectivePolish, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Helm S",
skills: [(PierceUp, 2), (StunResistance, 1)],
slots: [1],
rare: 4,
defense: 42,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "S. Studded Hat S",
skills: [(Ballistics, 2)],
slots: [2, 1],
rare: 5,
defense: 52,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Helm S",
skills: [(SleepAttack, 1)],
slots: [2, 1],
rare: 5,
defense: 58,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Helm S",
skills: [(BlightResistance, 1)],
slots: [2, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Helm S",
skills: [(CriticalDraw, 2)],
slots: [1],
rare: 5,
defense: 58,
fire: -3,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Kadachi Helm S",
skills: [(JumpMaster, 1), (Constitution, 1), (CriticalEye, 1)],
slots: [1, 1],
rare: 5,
defense: 58,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Hair-tie S",
skills: [(SpeedEating, 1), (FreeMeal, 1), (GoodLuck, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Mask S (Visible)",
skills: [(SpeedEating, 1), (FreeMeal, 1), (GoodLuck, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Channeler's Hair-tie S",
skills: [(RazorSharp, 2), (SpareShot, 2), (WirebugWhisperer, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Mask S (Hidden)",
skills: [(RazorSharp, 2), (SpareShot, 2), (WirebugWhisperer, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Helm S",
skills: [(Resentment, 1), (Handicraft, 1), (FlinchFree, 1)],
slots: [2],
rare: 6,
defense: 64,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Helm S",
skills: [(RapidMorph, 2)],
slots: [2, 2],
rare: 6,
defense: 64,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Helm S",
skills: [(LatentPower, 1), (WeaknessExploit, 1)],
slots: [1],
rare: 6,
defense: 62,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Helm S",
skills: [(Resuscitate, 1)],
slots: [2, 1],
rare: 6,
defense: 60,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Helm S",
skills: [(EvadeWindow, 1)],
slots: [2],
rare: 6,
defense: 60,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Helm S",
skills: [(Focus, 1), (Slugger, 1)],
slots: [2],
rare: 6,
defense: 60,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Helm S",
skills: [(SpecialAmmoBoost, 1), (SpareShot, 1)],
slots: [2],
rare: 5,
defense: 50,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Helm S",
skills: [(CriticalDraw, 1), (Agitator, 1)],
slots: [1, 1],
rare: 6,
defense: 64,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Skull Visage S",
skills: [(Fortify, 1)],
slots: [3, 2],
rare: 5,
defense: 50,
fire: -3,
water: -3,
thunder: -3,
ice: -3,
dragon: 4,
gender: Neutral,
),
(
name: "Kamura Head Scarf S",
skills: [(DivineBlessing, 1), (Resuscitate, 1)],
slots: [1],
rare: 4,
defense: 30,
fire: 2,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Leather Headgear S",
skills: [(Geologist, 1), (HungerResistance, 1)],
slots: [1, 1],
rare: 4,
defense: 30,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Rhopessa Vertex S",
skills: [(CriticalElement, 2)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Aelucanth Vertex S",
skills: [(CriticalElement, 2)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Jyuratodus Helm",
skills: [(OffensiveGuard, 1), (EvadeExtender, 1)],
slots: [2, 1],
rare: 5,
defense: 48,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Dober Helm",
skills: [(DragonAttack, 1), (AttackBoost, 1), (Heroics, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 4,
gender: Neutral,
),
(
name: "Makluva Hood S",
skills: [(SleepResistance, 2)],
slots: [2, 2],
rare: 5,
defense: 52,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Hat S",
skills: [(ParalysisResistance, 2)],
slots: [2, 2],
rare: 5,
defense: 52,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Edel Vizor S",
skills: [(PoisonResistance, 2)],
slots: [2, 2],
rare: 4,
defense: 40,
fire: -1,
water: 3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Ibushi's Helm",
skills: [(WindAlignment, 1), (Focus, 1), (EvadeExtender, 1)],
slots: [],
rare: 7,
defense: 66,
fire: -1,
water: 0,
thunder: 0,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Rakna Helm",
skills: [(SpreadUp, 1), (ReloadSpeed, 1)],
slots: [1, 1],
rare: 6,
defense: 66,
fire: 4,
water: -2,
thunder: -1,
ice: -3,
dragon: 1,
gender: Neutral,
),
(
name: "Golden Headdress",
skills: [(Heroics, 2), (MaximumMight, 1)],
slots: [2, 1],
rare: 7,
defense: 70,
fire: 2,
water: 1,
thunder: 3,
ice: -5,
dragon: 2,
gender: Neutral,
),
(
name: "Narwa's Helm",
skills: [(ThunderAlignment, 1), (RapidMorph, 1), (OffensiveGuard, 1)],
slots: [],
rare: 7,
defense: 76,
fire: 2,
water: 1,
thunder: 4,
ice: -3,
dragon: -4,
gender: Neutral,
),
(
name: "Diablos Helm S",
skills: [(Guard, 1), (StaminaSurge, 1)],
slots: [2],
rare: 6,
defense: 64,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Helm S",
skills: [(Earplugs, 1), (SpeedEating, 1)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Jelly Hat S",
skills: [(Partbreaker, 1), (DivineBlessing, 1)],
slots: [3],
rare: 6,
defense: 62,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Brigade Lobos S",
skills: [(Botanist, 2)],
slots: [3, 1],
rare: 6,
defense: 62,
fire: 1,
water: 0,
thunder: 2,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Mighty Bow Feather",
skills: [(BowChargePlus, 1)],
slots: [],
rare: 6,
defense: 56,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Mosgharl Visor S",
skills: [(BlastResistance, 2)],
slots: [2, 2],
rare: 5,
defense: 52,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Vaik Helm S",
skills: [(AmmoUp, 2)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 3,
thunder: -2,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Vertex S",
skills: [(PoisonAttack, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Vertex S",
skills: [(PoisonAttack, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
name: "Bnahabra Hat",
skills: [(RecoilDown, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Helm",
skills: [(FireAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Helm",
skills: [(WaterAttack, 1)],
slots: [],
rare: 2,
defense: 10,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Helm",
skills: [(Partbreaker, 1)],
slots: [],
rare: 2,
defense: 10,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Chaoshroom",
skills: [(Mushroomancer, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 2,
water: -2,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Slagtoth Hood",
skills: [(FreeMeal, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 2,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Helm",
skills: [(MaximumMight, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Helm",
skills: [(EvadeExtender, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Helm",
skills: [(WaterAttack, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Helm",
skills: [(AttackBoost, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Helm",
skills: [(RecoveryUp, 1)],
slots: [],
rare: 2,
defense: 16,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Helm",
skills: [(SpeedEating, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Helm",
skills: [(Windproof, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Gargwa Mask",
skills: [(LeapofFaith, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -3,
water: -2,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Bullfango Mask",
skills: [(Bludgeoner, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 0,
water: 4,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Headgear",
skills: [(Windproof, 2)],
slots: [],
rare: 2,
defense: 18,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 2,
gender: Neutral,
),
(
name: "Jaggi Mask",
skills: [(AffinitySliding, 1)],
slots: [],
rare: 2,
defense: 43,
fire: 6,
water: 2,
thunder: 2,
ice: 2,
dragon: 2,
gender: Neutral,
),
(
name: "Bishaten Helm",
skills: [(ItemProlonger, 1), (StunResistance, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Helm",
skills: [(DefenseBoost, 2)],
slots: [],
rare: 2,
defense: 22,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Helm",
skills: [(ParalysisAttack, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Brain",
skills: [(DragonResistance, 2)],
slots: [],
rare: 2,
defense: 18,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Helm",
skills: [(PierceUp, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "S. Studded Hat",
skills: [(WaterResistance, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Helm",
skills: [(SleepAttack, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Helm",
skills: [(BlightResistance, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Helm",
skills: [(CriticalDraw, 1)],
slots: [],
rare: 2,
defense: 20,
fire: -5,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Kadachi Helm",
skills: [(JumpMaster, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Hair-tie",
skills: [(SpeedEating, 1), (FreeMeal, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Channeler's Hair-tie",
skills: [(RazorSharp, 1), (SpareShot, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Mask (V)",
skills: [(SpeedEating, 1), (FreeMeal, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Pukei-Pukei Helm",
skills: [(SpecialAmmoBoost, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Helm",
skills: [(Agitator, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Skull Visage",
skills: [(Fortify, 1)],
slots: [],
rare: 3,
defense: 28,
fire: -3,
water: -3,
thunder: -3,
ice: -3,
dragon: 4,
gender: Neutral,
),
(
name: "Rathalos Helm",
skills: [(AttackBoost, 1), (FireAttack, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 4,
water: 0,
thunder: -2,
ice: 0,
dragon: -4,
gender: Neutral,
),
(
name: "Rhopessa Vertex",
skills: [(CriticalElement, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Female,
),
(
name: "Aelucanth Vertex",
skills: [(CriticalElement, 1)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Male,
),
(
name: "Makluva Hood",
skills: [(SleepResistance, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Hat",
skills: [(ParalysisResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Diablos Helm",
skills: [(Guard, 1), (StaminaSurge, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Helm",
skills: [(Earplugs, 1), (SpeedEating, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Mosgharl Visor",
skills: [(BlastResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Utsushi Mask (V)",
skills: [(SpeedEating, 1), (FreeMeal, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Jelly Hat",
skills: [(DivineBlessing, 1)],
slots: [],
rare: 4,
defense: 23,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Vertex",
skills: [(PoisonAttack, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Vertex",
skills: [(PoisonAttack, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
    name: "Gargwa Mask S",
    skills: [(LeapofFaith, 1), (GoodLuck, 1)],
    slots: [],
    rare: 6,
    defense: 54,
    fire: -3,
    water: -2,
    thunder: -2,
    ice: 1,
    dragon: 0,
    gender: Neutral
),
(
    name: "Damascus Helm",
    skills: [(TremorResistance, 2), (Earplugs, 2)],
    slots: [],
    rare: 7,
    defense: 68,
    fire: -1,
    water: 2,
    thunder: -3,
    ice: 1,
    dragon: -1,
    gender: Neutral
),
(
    name: "Flame Seal",
    skills: [(CriticalEye, 4)],
    slots: [],
    rare: 7,
    defense: 56,
    fire: 3,
    water: 0,
    thunder: 0,
    ice: 0,
    dragon: 0,
    gender: Neutral
),
(
    name: "Kushala Glare",
    skills: [(Handicraft, 2), (NormalRapidUp, 2)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: -1,
    water: 2,
    thunder: -2,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Mizuha Cap",
    skills: [(MindsEye, 2), (Ballistics, 2), (EvadeWindow, 2)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: -5,
    water: 1,
    thunder: 0,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Kaiser Crown",
    skills: [(CriticalEye, 3), (CriticalBoost, 1)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: 4,
    water: -4,
    thunder: 1,
    ice: -1,
    dragon: -3,
    gender: Neutral
),
(
    name: "Bazelgeuse Helm",
    skills: [(Artillery, 1), (Guard, 1)],
    slots: [2],
    rare: 7,
    defense: 72,
    fire: 3,
    water: 1,
    thunder: -4,
    ice: -2,
    dragon: -2,
    gender: Neutral
),
(
    name: "Feather of Mastery",
    skills: [(CarvingMaster, 1)],
    slots: [],
    rare: 6,
    defense: 56,
    fire: 0,
    water: 0,
    thunder: 0,
    ice: 0,
    dragon: 0,
    gender: Neutral
),
]
