[
(
name: "Chainmail Pants S",
skills: [(Botanist, 1), (StaminaSurge, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Hunter's Greaves S",
skills: [(StunResistance, 1), (AttackBoost, 2)],
slots: [2],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Izuchi Greaves S",
skills: [(RecoverySpeed, 1), (Constitution, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: 2,
water: -1,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Arzuros Greaves S",
skills: [],
slots: [3, 2, 1],
rare: 4,
defense: 36,
fire: -2,
water: 0,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bnahabra Boots S",
skills: [(ParalysisAttack, 1), (RecoilDown, 1)],
slots: [2, 1],
rare: 4,
defense: 34,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Greaves S",
skills: [(PeakPerformance, 1), (FireAttack, 2)],
slots: [1],
rare: 4,
defense: 38,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Baggi Greaves S",
skills: [(AttackBoost, 1)],
slots: [2, 1],
rare: 4,
defense: 36,
fire: -4,
water: -1,
thunder: -1,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Lagombi Greaves S",
skills: [(JumpMaster, 1), (CriticalEye, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Greaves S",
skills: [(SpeedSharpening, 1), (CriticalEye, 1)],
slots: [2],
rare: 4,
defense: 32,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Greaves S",
skills: [(MuckResistance, 2), (Focus, 1)],
slots: [2],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Droth Greaves S",
skills: [(WaterAttack, 3)],
slots: [2],
rare: 4,
defense: 42,
fire: -2,
water: 4,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Greaves S",
skills: [(StunResistance, 1), (CriticalEye, 2)],
slots: [1],
rare: 4,
defense: 38,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Greaves S",
skills: [],
slots: [1, 1],
rare: 4,
defense: 38,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Greaves S",
skills: [(PowerProlonger, 2)],
slots: [3],
rare: 4,
defense: 48,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Greaves S",
skills: [(Guard, 1), (DefenseBoost, 1), (OffensiveGuard, 1)],
slots: [2, 1],
rare: 4,
defense: 50,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Greaves S",
skills: [(Focus, 1), (Slugger, 1), (RecoverySpeed, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Greaves S",
skills: [(NormalRapidUp, 1), (HungerResistance, 1)],
slots: [1],
rare: 4,
defense: 40,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Greaves S",
skills: [(AttackBoost, 2), (CriticalEye, 2)],
slots: [1],
rare: 4,
defense: 40,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Feet S",
skills: [(WeaknessExploit, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 3,
gender: Neutral,
),
(
name: "Bishaten Greaves S",
skills: [(MaximumMight, 1)],
slots: [2, 1, 1],
rare: 4,
defense: 52,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Greaves S",
skills: [(LoadShells, 1), (DefenseBoost, 1)],
slots: [3],
rare: 5,
defense: 52,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Greaves S",
skills: [(RapidMorph, 1), (EvadeExtender, 2)],
slots: [1, 1],
rare: 4,
defense: 50,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Heel S",
skills: [(ProtectivePolish, 1), (RapidMorph, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Greaves S",
skills: [(PierceUp, 1), (TremorResistance, 1)],
slots: [1, 1],
rare: 4,
defense: 42,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shelled Sandals S",
skills: [(SpreadUp, 1), (PierceUp, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Greaves S",
skills: [(DivineBlessing, 2)],
slots: [1, 1],
rare: 5,
defense: 58,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Greaves S",
skills: [(BlightResistance, 1), (FreeMeal, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Greaves S",
skills: [(QuickSheath, 1)],
slots: [3, 1],
rare: 5,
defense: 58,
fire: -3,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Kadachi Greaves S",
skills: [(Constitution, 1), (CriticalEye, 2)],
slots: [3, 1],
rare: 5,
defense: 58,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Hakama S",
skills: [(WideRange, 1), (FreeMeal, 1), (GoodLuck, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Greaves S (Visible)",
skills: [(WideRange, 1), (FreeMeal, 1), (GoodLuck, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Channeler's Hakama S",
skills: [(EvadeWindow, 1), (Agitator, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Greaves S (Hidden)",
skills: [(EvadeWindow, 1), (Agitator, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Greaves S",
skills: [(HellfireCloak, 1), (Resentment, 1), (FlinchFree, 1)],
slots: [1, 1],
rare: 6,
defense: 64,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Greaves S",
skills: [(RazorSharp, 1)],
slots: [3, 1],
rare: 6,
defense: 64,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Greaves S",
skills: [(LatentPower, 1), (Constitution, 2)],
slots: [1],
rare: 6,
defense: 62,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Greaves S",
skills: [(BubblyDance, 1)],
slots: [3, 1, 1],
rare: 6,
defense: 60,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Greaves S",
skills: [(EvadeWindow, 2), (CriticalEye, 1)],
slots: [1],
rare: 6,
defense: 60,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Greaves S",
skills: [(MarathonRunner, 2)],
slots: [2],
rare: 6,
defense: 60,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Greaves S",
skills: [(Constitution, 1), (AimBooster, 1)],
slots: [2, 1],
rare: 5,
defense: 50,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Greaves S",
skills: [(PunishingDraw, 1), (Agitator, 3)],
slots: [1],
rare: 6,
defense: 64,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Kamura Leggings S",
skills: [(WallRunner, 2), (Resuscitate, 1)],
slots: [1],
rare: 4,
defense: 30,
fire: 2,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Leather Pants S",
skills: [(Geologist, 1)],
slots: [2],
rare: 4,
defense: 30,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Greaves S",
skills: [(AttackBoost, 1), (Partbreaker, 1)],
slots: [1, 1],
rare: 6,
defense: 62,
fire: 3,
water: 1,
thunder: -2,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Crura",
skills: [(CriticalEye, 2), (DragonAttack, 1)],
slots: [1, 1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Aelucanth Crura S",
skills: [(CriticalEye, 2), (DragonAttack, 1)],
slots: [1, 1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Jyuratodus Greaves",
skills: [(GuardUp, 2)],
slots: [2, 1, 1],
rare: 5,
defense: 48,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Dober Greaves",
skills: [(DragonAttack, 1), (Focus, 1), (Heroics, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 4,
gender: Neutral,
),
(
name: "Makluva Pants S",
skills: [(BubblyDance, 1), (SpeedEating, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Roots S",
skills: [(RecoveryUp, 1), (RecoverySpeed, 2)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Edel Roots S",
skills: [(PoisonResistance, 1)],
slots: [3, 1],
rare: 4,
defense: 40,
fire: -1,
water: 3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Foot of Ibushi",
skills: [(WindAlignment, 1), (Slugger, 1), (GuardUp, 1)],
slots: [],
rare: 7,
defense: 66,
fire: -1,
water: 0,
thunder: 0,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Rakna Greaves",
skills: [(Constitution, 2), (StaminaSurge, 2)],
slots: [1],
rare: 6,
defense: 66,
fire: 4,
water: -2,
thunder: -1,
ice: -3,
dragon: 1,
gender: Neutral,
),
(
name: "Chrome Metal Boots",
skills: [(FlinchFree, 2)],
slots: [3],
rare: 5,
defense: 46,
fire: -2,
water: -2,
thunder: -2,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Golden Hakama",
skills: [(CriticalBoost, 2), (LatentPower, 1)],
slots: [1, 1],
rare: 7,
defense: 70,
fire: 2,
water: 1,
thunder: 3,
ice: -5,
dragon: 2,
gender: Neutral,
),
(
name: "Foot of Narwa",
skills: [(ThunderAlignment, 1), (EvadeWindow, 1), (MarathonRunner, 1)],
slots: [],
rare: 7,
defense: 76,
fire: 2,
water: 1,
thunder: 4,
ice: -3,
dragon: -4,
gender: Neutral,
),
(
name: "Diablos Greaves S",
skills: [(Guard, 1), (OffensiveGuard, 1)],
slots: [2],
rare: 6,
defense: 64,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Greaves",
skills: [(SpeedEating, 2), (MindsEye, 1)],
slots: [1],
rare: 6,
defense: 64,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Jelly Boots S",
skills: [(BlastAttack, 1)],
slots: [3, 1],
rare: 6,
defense: 62,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Mosgharl Roots S",
skills: [(RecoilDown, 2)],
slots: [2, 1],
rare: 5,
defense: 52,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Vaik Greaves S",
skills: [(AmmoUp, 1)],
slots: [3, 1],
rare: 5,
defense: 52,
fire: 0,
water: 3,
thunder: -2,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Crura S",
skills: [(LatentPower, 1), (MindsEye, 1), (PoisonResistance, 1)],
slots: [1],
rare: 4,
defense: 52,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Crura S",
skills: [(LatentPower, 1), (MindsEye, 1), (PoisonResistance, 1)],
slots: [1],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
name: "Bnahabra Boots",
skills: [(RecoilDown, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Greaves",
skills: [(FireAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Greaves",
skills: [(SpeedSharpening, 1)],
slots: [],
rare: 2,
defense: 10,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Greaves",
skills: [(MuckResistance, 1)],
slots: [],
rare: 2,
defense: 10,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Droth Greaves",
skills: [(WaterResistance, 2)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Jaggi Shinguards",
skills: [(MasterMounter, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 0,
water: 0,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Greaves",
skills: [(StunResistance, 1), (CriticalEye, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Greaves",
skills: [(EvadeExtender, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Greaves",
skills: [(PowerProlonger, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Greaves",
skills: [(Guard, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Greaves",
skills: [(RecoverySpeed, 1)],
slots: [],
rare: 2,
defense: 16,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Greaves",
skills: [(HungerResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Greaves",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Feet",
skills: [(DivineBlessing, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 2,
gender: Neutral,
),
(
name: "Bishaten Greaves",
skills: [(MaximumMight, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Greaves",
skills: [(LoadShells, 1), (DefenseBoost, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Greaves",
skills: [(EvadeExtender, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Heel",
skills: [(RapidMorph, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Greaves",
skills: [(TremorResistance, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "Shelled Sandals",
skills: [(SpreadUp, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Greaves",
skills: [(DivineBlessing, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Greaves",
skills: [(FreeMeal, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Greaves",
skills: [(QuickSheath, 1)],
slots: [],
rare: 2,
defense: 20,
fire: -5,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Kadachi Greaves",
skills: [(Constitution, 1), (CriticalEye, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Hakama",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Channeler's Hakama",
skills: [(EvadeWindow, 1), (Agitator, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Greaves (V)",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Greaves",
skills: [(Resentment, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Greaves",
skills: [(RazorSharp, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Greaves",
skills: [(Constitution, 2)],
slots: [],
rare: 3,
defense: 28,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Greaves",
skills: [(BubblyDance, 1)],
slots: [],
rare: 3,
defense: 26,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Greaves",
skills: [(EvadeWindow, 1), (CriticalEye, 1)],
slots: [],
rare: 3,
defense: 26,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Greaves",
skills: [],
slots: [],
rare: 3,
defense: 26,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Greaves",
skills: [(Constitution, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Greaves",
skills: [(Agitator, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Greaves",
skills: [(AttackBoost, 1), (FireAttack, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 4,
water: 0,
thunder: -2,
ice: 0,
dragon: -4,
gender: Neutral,
),
(
name: "Rhopessa Crura",
skills: [(CriticalEye, 2)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Female,
),
(
name: "Aelucanth Crura",
skills: [(CriticalEye, 2)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Male,
),
(
name: "Makluva Pants",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Roots",
skills: [(RecoverySpeed, 2)],
slots: [],
rare: 2,
defense: 18,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Diablos Greaves",
skills: [(Guard, 1), (OffensiveGuard, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Greaves",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Mosgharl Roots",
skills: [(RecoilDown, 2)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Utsushi Greaves S",
skills: [(WideRange, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Jelly Boots",
skills: [(BlastAttack, 1)],
slots: [],
rare: 4,
defense: 24,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Crura",
skills: [(PoisonResistance, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Crura",
skills: [(PoisonResistance, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
    name: "Damascus Greaves",
    skills: [(Handicraft, 2)],
    slots: [1],
    rare: 7,
    defense: 68,
    fire: -1,
    water: 2,
    thunder: -3,
    ice: 1,
    dragon: -1,
    gender: Neutral
),
(
    name: "Kushala Crus",
    skills: [(KushalaBlessing, 1), (Handicraft, 1), (PierceUp, 1)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: -1,
    water: 2,
    thunder: -2,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Mizuha Gaiters",
    skills: [(ChameleosBlessing, 1), (EvadeWindow, 1)],
    slots: [2],
    rare: 7,
    defense: 74,
    fire: -5,
    water: 1,
    thunder: 0,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Kaiser Greaves",
    skills: [(TeostraBlessing, 1), (MastersTouch, 1)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: 4,
    water: -4,
    thunder: 1,
    ice: -1,
    dragon: -3,
    gender: Neutral
),
(
    name: "Bazelgeuse Greaves",
    skills: [(Artillery, 2), (Guard, 1)],
    slots: [3],
    rare: 7,
    defense: 72,
    fire: 3,
    water: 1,
    thunder: -4,
    ice: -2,
    dragon: -2,
    gender: Neutral
)
]