[
(
name: "Chainmail Belt S",
skills: [(DefenseBoost, 1), (Guard, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Hunter's Coil S",
skills: [(StunResistance, 2)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Izuchi Coil S",
skills: [(CriticalEye, 2)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: 2,
water: -1,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Arzuros Coil S",
skills: [(Counterstrike, 1), (DefenseBoost, 1)],
slots: [1, 1],
rare: 4,
defense: 36,
fire: -2,
water: 0,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Bnahabra Coil S",
skills: [(ParalysisAttack, 1), (EvadeWindow, 1)],
slots: [1, 1],
rare: 4,
defense: 34,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Coil S",
skills: [(QuickSheath, 1)],
slots: [3, 1],
rare: 4,
defense: 38,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Baggi Coil S",
skills: [(AttackBoost, 2), (SleepResistance, 1)],
slots: [1],
rare: 4,
defense: 36,
fire: -4,
water: -1,
thunder: -1,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Lagombi Coil S",
skills: [(Constitution, 2)],
slots: [2],
rare: 4,
defense: 36,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Coil S",
skills: [(WaterAttack, 2), (CriticalEye, 1)],
slots: [1, 1],
rare: 4,
defense: 32,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Coil S",
skills: [(Focus, 1)],
slots: [2, 1],
rare: 4,
defense: 32,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Droth Coil S",
skills: [(Diversion, 1)],
slots: [3, 1],
rare: 4,
defense: 42,
fire: -2,
water: 4,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Coil S",
skills: [(StaminaThief, 1), (MaximumMight, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Coil S",
skills: [],
slots: [1],
rare: 4,
defense: 38,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Coil S",
skills: [(MarathonRunner, 1), (PeakPerformance, 1)],
slots: [1],
rare: 4,
defense: 48,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Coil S",
skills: [(Guard, 2), (DefenseBoost, 1)],
slots: [1],
rare: 4,
defense: 50,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Coil S",
skills: [(Focus, 1), (Slugger, 1)],
slots: [1, 1],
rare: 4,
defense: 38,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Coil S",
skills: [(Heroics, 2)],
slots: [2],
rare: 4,
defense: 40,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Coil S",
skills: [(PowerProlonger, 2)],
slots: [2],
rare: 4,
defense: 40,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Uroktor Coil S",
skills: [(FireAttack, 2)],
slots: [2, 1],
rare: 5,
defense: 52,
fire: 4,
water: -2,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Belt S",
skills: [(CriticalElement, 2)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 3,
gender: Neutral,
),
(
name: "Bishaten Coil S",
skills: [(ItemProlonger, 1), (MaximumMight, 1)],
slots: [1, 1],
rare: 4,
defense: 52,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Coil S",
skills: [(SpeedSharpening, 2), (DefenseBoost, 2)],
slots: [2],
rare: 5,
defense: 52,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Coil S",
skills: [(RapidMorph, 1), (Bludgeoner, 1)],
slots: [1, 1],
rare: 4,
defense: 50,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "D. Stench Bowels S",
skills: [(ProtectivePolish, 1), (MaximumMight, 1)],
slots: [1, 1],
rare: 5,
defense: 52,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Coil S",
skills: [(TremorResistance, 2)],
slots: [3, 1],
rare: 4,
defense: 42,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "S. Studded Sash S",
skills: [(Ballistics, 1)],
slots: [3, 1],
rare: 5,
defense: 52,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Coil S",
skills: [(SleepAttack, 1), (Bombardier, 1)],
slots: [3],
rare: 5,
defense: 58,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Coil S",
skills: [(RecoveryUp, 2), (WideRange, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Coil S",
skills: [(CriticalDraw, 1), (CriticalEye, 2)],
slots: [1],
rare: 5,
defense: 58,
fire: -3,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Coil S",
skills: [(MindsEye, 2)],
slots: [1, 1],
rare: 5,
defense: 58,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Obi S",
skills: [(SpeedEating, 1), (FreeMeal, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Tassets S (Visible)",
skills: [(SpeedEating, 1), (FreeMeal, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Channeler's Obi S",
skills: [(Agitator, 2), (WirebugWhisperer, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Tassets S (Hidden)",
skills: [(Agitator, 2), (WirebugWhisperer, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Tassets S",
skills: [(HellfireCloak, 1)],
slots: [3],
rare: 6,
defense: 64,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Coil S",
skills: [(EvadeWindow, 1), (PowerProlonger, 1)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Coil S",
skills: [(LatentPower, 1)],
slots: [3, 1],
rare: 6,
defense: 62,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Coil S",
skills: [(BubblyDance, 1), (FreeMeal, 1)],
slots: [2, 1],
rare: 6,
defense: 60,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Coil S",
skills: [(EvadeExtender, 1), (CriticalEye, 1)],
slots: [2],
rare: 6,
defense: 60,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Coil S",
skills: [(AttackBoost, 2)],
slots: [2, 1, 1],
rare: 6,
defense: 60,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Coil S",
skills: [(SpareShot, 1), (PoisonAttack, 2)],
slots: [2, 1],
rare: 5,
defense: 50,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Coil S",
skills: [(PunishingDraw, 1), (Resentment, 1)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Kamura Obi S",
skills: [(WirebugWhisperer, 1), (CriticalEye, 1)],
slots: [1, 1],
rare: 4,
defense: 30,
fire: 2,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Leather Belt S",
skills: [(RecoveryUp, 1), (HungerResistance, 2)],
slots: [1],
rare: 4,
defense: 30,
fire: 0,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Coil S",
skills: [(AttackBoost, 2), (Windproof, 1)],
slots: [2],
rare: 6,
defense: 62,
fire: 3,
water: 1,
thunder: -2,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Rhopessa Elytra S",
skills: [(DragonAttack, 3)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Aelucanth Elytra S",
skills: [(DragonAttack, 3)],
slots: [1],
rare: 6,
defense: 62,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Neutral,
),
(
name: "Jyuratodus Coil",
skills: [(GuardUp, 1), (PowerProlonger, 1), (OffensiveGuard, 1)],
slots: [],
rare: 5,
defense: 48,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Dober Coil",
skills: [(DragonAttack, 1), (AttackBoost, 2)],
slots: [2],
rare: 5,
defense: 52,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 4,
gender: Neutral,
),
(
name: "Makluva Coil S",
skills: [(SleepResistance, 1)],
slots: [3],
rare: 5,
defense: 52,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Folia S",
skills: [(Botanist, 1), (RecoverySpeed, 1)],
slots: [2],
rare: 5,
defense: 52,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Edel Folia S",
skills: [(RecoveryUp, 1)],
slots: [2],
rare: 4,
defense: 40,
fire: -1,
water: 3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Ibushi's Fauld",
skills: [(WindAlignment, 1), (PowerProlonger, 1), (EvadeWindow, 1)],
slots: [],
rare: 7,
defense: 66,
fire: -1,
water: 0,
thunder: 0,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Rakna Coil",
skills: [(SpreadUp, 1)],
slots: [2, 2],
rare: 6,
defense: 66,
fire: 4,
water: -2,
thunder: -1,
ice: -3,
dragon: 1,
gender: Neutral,
),
(
name: "Chrome Metal Coil",
skills: [],
slots: [3, 2, 1],
rare: 5,
defense: 46,
fire: -2,
water: -2,
thunder: -2,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Golden Obi",
skills: [(Heroics, 1), (CriticalBoost, 1), (MaximumMight, 1)],
slots: [1],
rare: 7,
defense: 70,
fire: 2,
water: 1,
thunder: 3,
ice: -5,
dragon: 2,
gender: Neutral,
),
(
name: "Narwa's Fauld",
skills: [(ThunderAlignment, 1), (Guard, 1), (Artillery, 1)],
slots: [],
rare: 7,
defense: 76,
fire: 2,
water: 1,
thunder: 4,
ice: -3,
dragon: -4,
gender: Neutral,
),
(
name: "Diablos Coil S",
skills: [(Guard, 1), (StaminaSurge, 1)],
slots: [1, 1],
rare: 6,
defense: 64,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Coil S",
skills: [(Earplugs, 2)],
slots: [2, 1],
rare: 6,
defense: 64,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Jelly Coil S",
skills: [(Partbreaker, 2)],
slots: [2, 1],
rare: 6,
defense: 62,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Mosgharl Folia S",
skills: [(FireAttack, 3)],
slots: [1],
rare: 5,
defense: 52,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Vaik Coil S",
skills: [(NormalRapidUp, 1)],
slots: [1],
rare: 5,
defense: 52,
fire: 0,
water: 3,
thunder: -2,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Elytra S",
skills: [(WeaknessExploit, 2)],
slots: [],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Elytra S",
skills: [(WeaknessExploit, 2)],
slots: [],
rare: 4,
defense: 32,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
name: "Bnahabra Coil",
skills: [(ParalysisAttack, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 0,
thunder: 0,
ice: 0,
dragon: 2,
gender: Neutral,
),
(
name: "Aknosom Coil",
skills: [(RecoverySpeed, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 3,
water: -3,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Alloy Coil",
skills: [(WaterAttack, 1), (CriticalEye, 1)],
slots: [],
rare: 2,
defense: 10,
fire: -1,
water: 0,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Bone Coil",
skills: [(Focus, 1)],
slots: [],
rare: 2,
defense: 10,
fire: 0,
water: 0,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Droth Coil",
skills: [(Diversion, 1)],
slots: [],
rare: 2,
defense: 14,
fire: -2,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Kulu-Ya-Ku Coil",
skills: [(StaminaThief, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 0,
water: -3,
thunder: 0,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Wroggi Coil",
skills: [(PoisonAttack, 1)],
slots: [],
rare: 2,
defense: 16,
fire: 2,
water: -2,
thunder: 1,
ice: -4,
dragon: 0,
gender: Neutral,
),
(
name: "Ludroth Coil",
skills: [(WaterAttack, 2)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 4,
thunder: -1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Barroth Coil",
skills: [(Guard, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: -1,
thunder: 3,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Khezu Coil",
skills: [(Focus, 1), (Slugger, 1)],
slots: [],
rare: 2,
defense: 16,
fire: -4,
water: 1,
thunder: 4,
ice: 2,
dragon: 1,
gender: Neutral,
),
(
name: "Tetranadon Coil",
skills: [(Heroics, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: 4,
thunder: -2,
ice: 1,
dragon: 0,
gender: Neutral,
),
(
name: "Ingot Coil",
skills: [(PowerProlonger, 1)],
slots: [],
rare: 2,
defense: 18,
fire: -1,
water: -1,
thunder: 1,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Uroktor Coil",
skills: [(FireResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 4,
water: -2,
thunder: 0,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Remobra Belt",
skills: [(CriticalElement, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 1,
water: 1,
thunder: 1,
ice: 1,
dragon: 2,
gender: Neutral,
),
(
name: "Bishaten Coil",
skills: [(ItemProlonger, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -2,
water: 2,
thunder: 2,
ice: -4,
dragon: 2,
gender: Neutral,
),
(
name: "Basarios Coil",
skills: [(SpeedSharpening, 1), (DefenseBoost, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 0,
water: -2,
thunder: 1,
ice: 1,
dragon: -3,
gender: Neutral,
),
(
name: "Volvidon Coil",
skills: [(RapidMorph, 1)],
slots: [],
rare: 2,
defense: 20,
fire: 2,
water: -3,
thunder: 0,
ice: -1,
dragon: 1,
gender: Neutral,
),
(
name: "Death Stench Bowels",
skills: [(DragonResistance, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 3,
water: 1,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Rhenoplos Coil",
skills: [(TremorResistance, 1)],
slots: [],
rare: 2,
defense: 14,
fire: 2,
water: 0,
thunder: 0,
ice: -2,
dragon: 0,
gender: Neutral,
),
(
name: "S. Studded Sash",
skills: [(Ballistics, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 0,
water: 2,
thunder: 1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Somnacanth Coil",
skills: [(Bombardier, 1)],
slots: [],
rare: 2,
defense: 22,
fire: -1,
water: 2,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Rathian Coil",
skills: [(RecoveryUp, 1), (WideRange, 1)],
slots: [],
rare: 2,
defense: 22,
fire: 3,
water: 0,
thunder: -2,
ice: 0,
dragon: -3,
gender: Neutral,
),
(
name: "Barioth Coil",
skills: [(CriticalEye, 2)],
slots: [],
rare: 2,
defense: 20,
fire: -5,
water: 0,
thunder: -1,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Tobi-Kadachi Coil",
skills: [(ThunderAttack, 2)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: -3,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Medium's Obi",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Channeler's Obi",
skills: [(Agitator, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Female,
),
(
name: "Utsushi Tassets (V)",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Sinister Tassets",
skills: [(HellfireCloak, 1), (Counterstrike, 2)],
slots: [],
rare: 3,
defense: 28,
fire: 3,
water: -3,
thunder: -2,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Almudron Coil",
skills: [(PowerProlonger, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 3,
thunder: 3,
ice: -2,
dragon: -2,
gender: Neutral,
),
(
name: "Zinogre Coil",
skills: [(LatentPower, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 0,
water: -1,
thunder: 4,
ice: -4,
dragon: 1,
gender: Neutral,
),
(
name: "Mizutsune Coil",
skills: [(FreeMeal, 1)],
slots: [],
rare: 3,
defense: 26,
fire: 0,
water: 2,
thunder: -3,
ice: 1,
dragon: -1,
gender: Neutral,
),
(
name: "Nargacuga Coil",
skills: [(EvadeExtender, 1)],
slots: [],
rare: 3,
defense: 26,
fire: -2,
water: 1,
thunder: -3,
ice: 1,
dragon: 1,
gender: Neutral,
),
(
name: "Anjanath Coil",
skills: [],
slots: [],
rare: 3,
defense: 26,
fire: 3,
water: -3,
thunder: -1,
ice: -1,
dragon: 0,
gender: Neutral,
),
(
name: "Pukei-Pukei Coil",
skills: [(PoisonAttack, 2)],
slots: [],
rare: 2,
defense: 20,
fire: 0,
water: 3,
thunder: -3,
ice: 0,
dragon: 1,
gender: Neutral,
),
(
name: "Goss Harag Coil",
skills: [(PunishingDraw, 1), (Resentment, 1)],
slots: [],
rare: 3,
defense: 30,
fire: -4,
water: 1,
thunder: -1,
ice: 4,
dragon: 0,
gender: Neutral,
),
(
name: "Rathalos Coil",
skills: [(AttackBoost, 1), (Windproof, 1)],
slots: [],
rare: 3,
defense: 28,
fire: 4,
water: 0,
thunder: -2,
ice: 0,
dragon: -4,
gender: Neutral,
),
(
name: "Rhopessa Elytra",
skills: [(DragonAttack, 2)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Female,
),
(
name: "Aelucanth Elytra",
skills: [(DragonAttack, 2)],
slots: [],
rare: 3,
defense: 24,
fire: -2,
water: 0,
thunder: 3,
ice: -2,
dragon: 2,
gender: Male,
),
(
name: "Makluva Coil",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 1,
water: 2,
thunder: -2,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Melahoa Folia",
skills: [(Botanist, 1), (RecoverySpeed, 1)],
slots: [],
rare: 2,
defense: 18,
fire: 0,
water: 1,
thunder: 3,
ice: 0,
dragon: 0,
gender: Neutral,
),
(
name: "Diablos Coil",
skills: [(StaminaSurge, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 3,
water: -1,
thunder: -1,
ice: -3,
dragon: -1,
gender: Neutral,
),
(
name: "Tigrex Coil",
skills: [(Earplugs, 1)],
slots: [],
rare: 3,
defense: 30,
fire: 2,
water: 0,
thunder: -3,
ice: 0,
dragon: -2,
gender: Neutral,
),
(
name: "Mosgharl Folia",
skills: [(FireAttack, 2)],
slots: [],
rare: 2,
defense: 18,
fire: -3,
water: 1,
thunder: 0,
ice: 3,
dragon: 0,
gender: Neutral,
),
(
name: "Utsushi Tassets (V)",
skills: [(SpeedEating, 1)],
slots: [],
rare: 3,
defense: 24,
fire: 3,
water: 0,
thunder: 0,
ice: 0,
dragon: 0,
gender: Male,
),
(
name: "Jelly Coil",
skills: [(Partbreaker, 1)],
slots: [],
rare: 4,
defense: 24,
fire: 1,
water: 3,
thunder: 0,
ice: 2,
dragon: 0,
gender: Neutral,
),
(
name: "Spio Elytra",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Female,
),
(
name: "Skalda Elytra",
skills: [(CriticalEye, 1)],
slots: [],
rare: 2,
defense: 12,
fire: 3,
water: -1,
thunder: -1,
ice: -1,
dragon: 3,
gender: Male,
),
(
    name: "Damascus Coil",
    skills: [(Earplugs, 1), (Handicraft, 1)],
    slots: [1],
    rare: 7,
    defense: 68,
    fire: -1,
    water: 2,
    thunder: -3,
    ice: 1,
    dragon: -1,
    gender: Neutral
),
(
    name: "Kushala Cocoon",
    skills: [(KushalaBlessing, 1), (RecoverySpeed, 1), (Handicraft, 1), (PierceUp, 1)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: -1,
    water: 2,
    thunder: -2,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Mizuha Sash",
    skills: [(ChameleosBlessing, 1), (PoisonAttack, 1), (PeakPerformance, 2)],
    slots: [1],
    rare: 7,
    defense: 74,
    fire: -5,
    water: 1,
    thunder: 0,
    ice: 3,
    dragon: -3,
    gender: Neutral
),
(
    name: "Kaiser Coil",
    skills: [(TeostraBlessing, 1), (CriticalEye, 1)],
    slots: [3],
    rare: 7,
    defense: 74,
    fire: 4,
    water: -4,
    thunder: 1,
    ice: -1,
    dragon: -3,
    gender: Neutral
),
(
    name: "Bazelgeuse Coil",
    skills: [(LoadShells, 1), (Guard, 1)],
    slots: [2, 2],
    rare: 7,
    defense: 72,
    fire: 3,
    water: 1,
    thunder: -4,
    ice: -2,
    dragon: -2,
    gender: Neutral
)
]
